body {
	color:#00F0ff;
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
	background-size: 146% auto;
}

a { 
    color:#00F0ff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
	color:#F0F0ff;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}
p {
 font-size: 28px;
 color:#cfe940
 ;
 font-style:Montserrat;
	
}

h2 {
	color:#0FF0fF;
    font-weight:normal;
    margin:10px 0 0;
	font-size:46px;
}

#content {
    color:#FFFf;	
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    /*background:#efefef; */ 
    height:100%;
}

p.date { 
    color:#fff;
    font-family: georgia, serif;
    font-size: 22px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
	font-size:230px;
}
.comment:nth-child(even) {
    
	
}
.comment .info {
    font-weight:bold;
    font-size:29px;
    color:#666;
}